* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
}

/* screen style */
.screen {
  display: flex;
  position: absolute;
  visibility: hidden;
  left: 20vw;
  top: 10vh;
  width: 56vw;
  height: 75vh;
  background-color: #e8cb7b;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5rem;
  font-size: 2rem;
}

/* portfolio menu style */
.portfolio-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  height: 50vh;
  text-align: center;
}

.portfolio-menu h1 {
  font-weight: 500;
}

.portfolio-menu p {
  text-align: justify;
}

.btn {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #957c38, #4ce3f7);
  border-radius: 5px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6rem 1.5rem;
  display: inline-block;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

/* martin page style */
.martin-page {
  margin-left: -3rem;
  margin-top: -2rem;
  font-size: 1.5rem;
  width: 50vw;
}

hr {
  border: dashed 2px black;
}

.martin-page header section {
  display: flex;
  margin: 10rem 0;
}

.martin-page header section p {
  width: 40rem;
  margin-top: 1.5rem;
  text-align: justify;
}

.martin-page header section .images {
  width: 20rem;
}

.martin-page header section .images:nth-child(odd) {
  margin-right: 20rem;
}

.martin-page header section:nth-child(odd) {
  margin-left: -10rem;
}

.martin-page header section:nth-child(even) {
  margin-right: -10rem;
}

.martin-page main .skills ul {
  list-style: none;
}
.martin-page main .skills ul li {
  margin-top: 1rem;
}

.martin-page main .projects .project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.martin-page main .projects p {
  margin-bottom: 1rem;
}

.martin-page footer {
  height: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  width: 20rem;
  padding: 1rem;
  color: white;
  border-radius: 3px;
  justify-content: space-evenly;
}

.card-title {
  font-size: large;
  font-weight: 500;
}

.card-link {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}

.card > *:not(:last-child) {
  margin-bottom: 1rem;
}
